/* padrão */
*{
    margin: 0;
    padding: 0;
    color: white;
}

.icon{
    color: white;
}

.icon:hover{
    color: chartreuse;
    transition: 1.5s;
}

.icon:not(hover){
    color: white;
    transition: 1.5s;
}

select:focus,
input:focus,
button:focus{
    box-shadow: 0px 0px 0px 0px;
    border: 0 none;
    outline: 0;
}

/* header */
#btn-login{
    background: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
}

#icon-login{
    font-size: 2rem;
}

/* carregar dados */
.btn-produtos,
.btn-clientes{
    background: black;
    color: chartreuse;
    border: 2px solid chartreuse;
    border-radius: 15px;
    height: 3rem;
    width: 45%;
}

option{
    color: black;
}

label{
    color: red
}





/* footer */
footer{
    margin-top: 300px;
}


