/* padrão */
*{
    margin: 0;
    padding: 0;
    color: white;
}

.icon{
    color: white;
}

.icon:hover{
    color: chartreuse;
    transition: 1.5s;
}

.icon:not(hover){
    color: white;
    transition: 1.5s;
}

select:focus,
input:focus,
button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* header */
#btn-login{
    background: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
}

#icon-login{
    font-size: 2rem;
}

/* carregar dados */
.select{
    border-radius: 15px 15px 0 0px;
    color: black;
    border: 0px transparent;
}

option{
    color: black;
}

label{
    color: red
}





/* footer */
footer{
    margin-top: 300px;
}


