/* padrão */
*{
    margin: 0;
    padding: 0;
    color: white;
}

.icon{
    color: white;
}

.icon:hover{
    color: chartreuse;
    transition: 1s;
}

.icon:not(hover){
    color: white;
    transition: 1s;
}

select:focus,
input:focus,
button:focus{
    box-shadow: 0px 0px 0px 0px;
    border: 0 none;
    outline: 0;
}

/* header */
#logo{
    width: 100px; 
    height: "auto";
}

#logo:hover{
    filter: grayscale(70%);
}

/* carregar dados */
#select{
    background: black;
    color: chartreuse;
    border: 2px solid chartreuse;
    border-radius: 15px;
    height: 3rem;
}

option{
    color: chartreuse;
    border-radius: 15px;
}

#btn-carregar-dados{
    background: black;
    color: chartreuse;
    border: 2px solid chartreuse;
    border-radius: 15px;
    height: 3rem;
    width: 15%;
}

#btn-carregar-dados:focus{
    border: 2px solid white;
    color: white;
}

h1:hover{
    color: chartreuse;
    transition: 1s;
}

h1:not(hover){
    color: white;
    transition: 1s;
}

/* tables */
th{
    font-size: .75rem;
}

.enderecos-clientes{
    background: transparent;
    border: transparent;
}

.icon-endereco{
    font-size: 1.2rem;
}

.div-enderecos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#label-enderecos{
    color: chartreuse;
    padding-left: 2%;
}

.msg{
    position: absolute;
    padding: 0;
    width: 25%;
    top: 8%;
    left: 70%;
    color: chartreuse;
}

p{
    margin: 0;
    color: chartreuse;
}

.i-tel-fixo,
.i-tel-cel,
.i-tel.email{
    font-size: 1.2rem;
}

h4{
    width: 8%;
}

h4:hover{
    color: chartreuse;
    transition: 1s;
}

h4:not(hover){
    color: white;
    transition: 1s;
}

.row-table:hover{
    background: rgba(103, 105, 105, 0.295);
}

.icon-up{
    position: absolute;
    left: 90%;
    top: 136%;
    font-size: 1.2rem;
}

